---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "My Astro Learning Blog";
const allPosts = await Astro.glob("../pages/blog/*.md");
---

<Layout pageTitle={pageTitle}>
    <main>
        <h2 class="text-4xl font-bold mb-4">Welcom to my Blog!</h2>
        <ul class="link-card-grid">
            {allPosts.map((post) => <BlogPost 
            url={post.url} 
            image={post.frontmatter.image.url} 
            title={post.frontmatter.title} 
            date={post.frontmatter.pubDate.slice(0, 10)} />)}
        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    .link-card-grid {
        display: grid;
        grid-template-row: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>
