---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import * as kei from '../pages/keitruck.md';
const experience = await Astro.glob('../pages/experience/*.md');
const projects = await Astro.glob('../pages/projects/*.md');
---

<Layout title="Jordan Teasdale">
    <main>
        <h1 class="text-gradient">Jordan Teasdale</h1>
        <h2 class="text-4xl font-bold mb-4">Current Project</h2>
	    <a href={kei.url}>
            <div class="card lg:card-top bg-[#3c384d] shadow-xl motion-safe:hover:scale-105">
                <figure>
                    <video autoplay muted loop disablepictureinpicture>
                        <source src="/videos/KeiSimDemo.mp4" type="video/mp4"/>
                        <source src="mov_bbb.ogg" type="video/ogg">
                    </video>
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Kei Truck Simulator</h2>
                    <p>
                        <!-- Duo indie game made in Unreal Engine 5.3 C++.
                        Uses custom and dynamic inventory algorithm to
                        automatically sort truck bed when placing objects in and taking objects out of the bed.
                    -->
                    </p>
                </div>
            </div>
        </a>
        <br />
        <h2 class="text-4xl font-bold mb-4">Experience</h2>
        <ul role="list" class="link-card-grid">
            {experience.map((card) => <Card 
                url={card.url} 
                image={card.frontmatter.image.url} 
                title={card.frontmatter.title} 
                body={card.frontmatter.description}
            />)}
        </ul>
        <br />
        <h2 class="text-4xl font-bold mb-4">Projects</h2>
        <ul role="list" class="link-card-grid">
            {projects.map((card) => <Card 
                url={card.url} 
                image={card.frontmatter.image.url} 
                title={card.frontmatter.title} 
                body={card.frontmatter.description}
            />)}
        </ul>
        <br />
        <h2 class="text-4xl font-bold mb-4">About</h2>
        <div class="card lg:card-side bg-[#3c384d] shadow-xl">
            <div class="card-body">
                <p>
                    I am a software developer with experience as a gameplay, graphics, and tools engineer, 
                    having a Bachelor's Degree in Game Development from Full Sail University. There, 
                    I gained familiarity with an assortment of topics such as, multi-threading, 2D and 3D rendering, 
                    AI, data structures, memory management, UI/UX, QU testing, development cycles, and much more. 
                    Though while my background is primarily in programming, I also have a bit of experience and a great deal of interest in being in a producer role.
                </p>
            </div>
        </div>
        <br />
        <h2 class="text-4xl font-bold mb-4">Skills</h2>
        <div class="card lg:card-side bg-[#3c384d] shadow-xl">
            <div class="card-body flex flex-row">
                <img class="mx-auto w-5 h-5 sm:w-12 sm:h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 motion-safe:hover:scale-110" alt="C++" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg"/>
                <img class="mx-auto w-5 h-5 sm:w-12 sm:h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 motion-safe:hover:scale-110" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>
                <img class="mx-auto w-5 h-5 sm:w-12 sm:h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 motion-safe:hover:scale-110" alt="Unreal Engine" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unrealengine/unrealengine-original.svg"/>
                <img class="mx-auto w-5 h-5 sm:w-12 sm:h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 motion-safe:hover:scale-110" alt="Unity" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unity/unity-original.svg"/>
                <img class="mx-auto w-5 h-5 sm:w-12 sm:h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 motion-safe:hover:scale-110" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
                <img class="mx-auto w-5 h-5 sm:w-12 sm:h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 motion-safe:hover:scale-110" alt="GitHub" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"/>
                <img class="mx-auto w-5 h-5 sm:w-12 sm:h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 motion-safe:hover:scale-110" alt="TortoiseGit" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tortoisegit/tortoisegit-original.svg"/>
                <img class="mx-auto w-5 h-5 sm:w-12 sm:h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 motion-safe:hover:scale-110" alt="GitLab" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/gitlab/gitlab-original.svg"/>
                <img class="mx-auto w-5 h-5 sm:w-12 sm:h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 motion-safe:hover:scale-110" alt="CMake" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cmake/cmake-original.svg"/>
            </div>
        </div>
        <br />
    </main>
</Layout>

<style>
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>
