---
const { title, url, image, date } = Astro.props
---

<li>
    <a href={url}>
        <div class="card w-90 bg-[#3c384d] shadow-xl motion-safe:hover:scale-105 h-full">
            <figure><img src={image} alt="BlogThumbnail" /></figure>
            <div class="card-body">
                <h2 class="card-title">
                    {title}
                    &rarr;
                </h2>
                <div>
                    <span>{date}</span>
                </div>
            </div>
        </div>
    </a>
</li>
