---
interface Props {
    image: string;
    title: string;
    body: string;
    url: string;
}

const { url, image, title, body } = Astro.props;
---

<li>
    <a href={url}>
        <div class="card w-90 bg-[#3c384d] shadow-xl motion-safe:hover:scale-105 h-full">
            <figure><img src={image} alt="ProjectThumbnail" /></figure>
            <div class="card-body">
                <h2 class="card-title">
                    {title}
                    &rarr;
                </h2>
                <p>{body}</p>
            </div>
        </div>
    </a>
</li>
