<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
    <nav class="grid grid-flow-col gap-4">
        <a class="link link-hover" href="https://www.linkedin.com/in/jordan-teasdale-190591161" target="_blank">LinkedIn</a>
        <a class="link link-hover" href="https://github.com/JordanTeasdale" target="_blank">GitHub</a>
    </nav> 
    <aside>
        <p>Copyright © 2024 - Jordan Teasdale | Game Developer</p>
    </aside>
</footer>
