<header>
    <div class="navbar mx-auto max-w-[872px]">
        <div class="flex-1">
            <span class="text-gradient"><a href="/" class="btn btn-ghost text-xl">Jordan Teasdale</a></span>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        </div>
    </div>
</header>
