---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <main>
        <h1 class="text-4xl font-bold mb-4"><em>{frontmatter.title}</em></h1>
        <video autoplay muted loop disablepictureinpicture>
            <source src="/videos/KeiSimDemo.mp4" type="video/mp4"/>
            <source src="mov_bbb.ogg" type="video/ogg">
        </video>
        <br />
        <div class="prose prose-xl overflow-visible relative mb-20">
            <slot />
        </div>
    </main>
</Layout>
